
{% extends "AppBundle:Layout:templategeneral.html.twig" %}

{% block body %}

<section class="toutmillieu">

  <div class="millieu">
  <article class="arti">

<p>Votre commentaire a bien été enregistré. </p>



</div>


  </article>
</section>
{% endblock %}
