{# src/OC/PlatformBundle/Resources/views/Users/index.html.twig #}
{% extends "AppBundle:Layout:templateadmin.html.twig" %}

{% block body %}
<h1>Bienvenu sur votre espace de gestion</h1>
<p>Vous disposez des droits administrateurs. Avec cet espace vous pouvez gère les utilisateurs dans l'espace client, les commandes dans l'espace Commande.
</p>
<h2>La gestion des produits</h2>
<p>La gestion des produits se fait en deux parties. 
Les options produits vous premettent de gérer Les sports, les ligues et les équipes de vos produits. La partie catégorie est faite afin de qualifier vos produits. La gestion des tailles est la gestion de toutes les tailles possibles pour l'ensemble de vos produits. Dans la rubrique gestion des produits, vous gérez vos produits de la création, les tailles et les quantités. </p>
{% endblock %}
