{# src/OC/PlatformBundle/Resources/views/Users/index.html.twig #}
{% extends "AppBundle:Layout:template.html.twig" %}


{% block body %}

<h1>Gestion des produits</h1>




<table class="table table-hover">
<thead>
<tr>
  <th>Titre 1</th>
</tr>
</thead>
<tbody>
  <tr>
    <th>Titre 1</th>
  </tr>
</tbody>
</table>

<div class="well">
  {{ form(form) }}
</div>


{% endblock %}
