{% extends "AppBundle:Layout:templateadmin.html.twig" %}


{% block body %}

<h1>Gestions des Ligues</h1>




<p>Cliquez sur confirmer pour supprimer la ligue {{League.libelle}}</p>
<table class="table table-hover">


  <div class="row">
          <div class="col-md-12 well">
              {{ form_start(form, {"method": "POST", "attr":{"novalidate":"novalidate"}}) }}



              {{ form_end(form) }}
          </div>
      </div>



{% endblock %}
