{# src/OC/PlatformBundle/Resources/views/Users/index.html.twig #}
{% extends "AppBundle:Layout:templategeneral.html.twig" %}

{% block body %}

<section class="toutmillieu">

  <div class="millieu">

  <article class="arti">
    <h1>Contact</h1>
<p>Bientot la liste des commandes
</p><div class="well">
  {{ form(form) }}
</div>


  </article>

  </div>
</section>
{% endblock %}
