{# src/OC/PlatformBundle/Resources/views/Users/index.html.twig #}
{% extends "AppBundle:Layout:templategeneral.html.twig" %}

{% block body %}

<section class="toutmillieu">

  <div class="millieu">

  <article class="arti">
    <h1>Qui sommes-nous?</h1>
<p>Sport Symfonique est un site qui s'adresse aux passionnés de sport. Nous propossons des articles  de mode qui raviront les collectionneurs, les supporteurs ou simplement les amoureux du sport. Si vous souhaitez nous proposer une pièce veuillez remplir
   <a href="{{ path('contact')}}">ce formulaire sur notre page contact</a>. à bientôt.
</p>
</article>

</div>
</section>

{% endblock %}
